@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 62.5%;
  margin: 0 auto;
  padding: 0;
}
